@use "../../scss/mixins/typography";
@forward "../../scss/theme";

$breakpoint-laptop: 1240px;
$breakpoint-tablet: 900px;
$breakpoint-mobile: 500px;

.container {
    margin-inline: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    height: 100px;

    @media(max-width: $breakpoint-tablet) {
        height: 80px;
        padding: 12px;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        color: var(--md-sys-color-primary-fixed-dim);
        @include typography.body-small();
    }
}