@use "../../../scss/mixins/typography";
@forward "../../../scss/theme";

$breakpoint-laptop: 1240px;
$breakpoint-tablet: 900px;
$breakpoint-mobile: 500px;

.mdc-button.mdc-button.mdc-button.mdc-button {
    --mdc-filled-button-container-color: var(--md-sys-color-tertiary);
    --mdc-filled-button-label-text-color: var(--md-sys-color-on-tertiary);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        width: max-content;
        height: max-content;
        padding: 40px;
        border-radius: 20px;
        background-color: var(--md-sys-color-tertiary-container);

        @media(max-width: $breakpoint-tablet) {
            padding: 20px;
        }

        .form {
            display: flex;
            gap: 12px;
            flex-direction: row;

            @media(max-width: $breakpoint-mobile) {
                flex-direction: column;
                gap: 0px;
            }
        }

        .buttons {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            gap: 12px;

            .buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }

}