@use '../mixins/typography';
@use '../variables';

.mdc-button.mdc-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    min-width: 44px;
    border-radius: 22px;
    
    --mdc-filled-button-container-color: var(--md-sys-color-primary);
    --mdc-filled-button-label-text-color: var(--md-sys-color-on-primary);
    --mdc-filled-button-container-height: 40px;
    --mdc-filled-button-container-shape: 20px;
    --mat-filled-button-state-layer-color: var(--md-sys-color-on-primary);
    --mat-filled-button-hover-state-layer-opacity: 0.08;
    --mat-filled-button-ripple-color: var(--md-sys-color-on-primary);

    .mdc-button__label {
        @include typography.label-large;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4px;
        @media(max-width: #{variables.$breakpoint-mobile}) {
            justify-content: center;
        }
    }

    .mat-ripple {
        opacity: 0.1;
    }
}

.mdc-button--relevated {
    padding: 0px;
}