<div class="container">
    <h3 mat-dialog-title class="label">GENERATE BOOKS</h3>
    <div mat-dialog-content class="form">
        <form [formGroup]="generateForm" class="form__content">
            <mat-form-field class="form__content__place">
                <mat-label>Count</mat-label>
                <input matInput formControlName="count">
                <mat-error *ngIf="count.hasError('required')">Count is required</mat-error>
                <mat-error *ngIf="count.hasError('min')">Count > 0</mat-error>
            </mat-form-field>
        </form>

    </div>
    <div mat-dialog-actions class="buttons">
        <button mat-flat-button class="buttons__button" (click)="onClose()">
            <div matListItemIcon class="buttons__button__icon">
                <span class="material-symbols-outlined">close</span>
            </div>
            <div class="buttons__button__label">
                <span>Close</span>
            </div>
        </button>
        <button mat-flat-button class="buttons__button" (click)="onOk()" [disabled]="generateForm.invalid">
            <div matListItemIcon class="buttons__button__icon">
                <span class="material-symbols-outlined">done</span>
            </div>
            <div class="buttons__button__label">
                <span>Ok</span>
            </div>
        </button>
    </div>
</div>