<div class="container">
    <h3 mat-dialog-title class="label">ADD BOOK</h3>
    <div mat-dialog-content class="form">
        <form [formGroup]="bookForm" class="form__content">
            <mat-form-field class="form__content__place">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="name.hasError('required')">Name is required</mat-error>
            </mat-form-field>
            <mat-form-field class="form__content__place">
                <mat-label>Author</mat-label>
                <input matInput formControlName="author">
                <mat-error *ngIf="author.hasError('required')">Author is required</mat-error>
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions class="buttons">
        <button mat-flat-button class="buttons__button" (click)="onClose()">
            <div matListItemIcon class="buttons__button__icon">
                <span class="material-symbols-outlined">close</span>
            </div>
            <div class="buttons__button__label">
                <span>Close</span>
            </div>
        </button>
        <button mat-flat-button class="buttons__button" (click)="onOk()" [disabled]="bookForm.invalid">
            <div matListItemIcon class="buttons__button__icon">
                <span class="material-symbols-outlined">done</span>
            </div>
            <div class="buttons__button__label">
                <span>Ok</span>
            </div>
        </button>
    </div>
</div>